### **Loading the data**

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from sklearn.datasets import load_iris
iris_dataset = load_iris() #loading iris dataset

In [ ]:
from sklearn import datasets

In [ ]:
#iris_dataset #displaying data
x = datasets.load_iris(as_frame = True)['data']
y = datasets.load_iris(as_frame = True)['target']

In [ ]:
x

     sepal length (cm)  sepal width (cm)  petal length (cm)  petal width (cm)
0                  5.1               3.5                1.4               0.2
1                  4.9               3.0                1.4               0.2
2                  4.7               3.2                1.3               0.2
3                  4.6               3.1                1.5               0.2
4                  5.0               3.6                1.4               0.2
..                 ...               ...                ...               ...
145                6.7               3.0                5.2               2.3
146                6.3               2.5                5.0               1.9
147                6.5               3.0                5.2               2.0
148                6.2               3.4                5.4               2.3
149                5.9               3.0                5.1               1.8

[150 rows x 4 columns]

In [ ]:
iris_dataset.feature_names

['sepal length (cm)',
 'sepal width (cm)',
 'petal length (cm)',
 'petal width (cm)']

In [ ]:
iris_dataset.target_names

array(['setosa', 'versicolor', 'virginica'], dtype='<U10')

In [ ]:
from sklearn.linear_model import LogisticRegression
classifier=LogisticRegression() # Defining Logistic regression function

### **Monte Carlo Cross-Validation**

+ In Monte Carlo Assign a portion of your data at random (without replacement) to the training set, and the remaining points to the test set. Then, this procedure is done repeatedly, creating fresh training and test partitions each time (at random).

In [ ]:
from sklearn.model_selection import ShuffleSplit
from sklearn.model_selection import cross_val_score#dividing training and test sets to 70 and 30 percent 
shuffle_split = ShuffleSplit(test_size=0.3,train_size=0.7,n_splits=10,random_state=0)#randomstate is 0 means random values will not come
monte_carlo_cval = cross_val_score(classifier,iris_dataset.data,iris_dataset.target,cv=shuffle_split) #shuffle split is done for monte carlo cross validation

In [ ]:
print("results of monte carlo cross validation : \n",monte_carlo_cval)

results of monte carlo cross validation :
 [0.97777778 0.93333333 0.95555556 0.91111111 0.97777778 0.93333333
 1.         1.         1.         0.97777778]

In [ ]:
print("Mean value of monte carlo cross validation: ",monte_carlo_cval.mean())

Mean value of monte carlo cross validation:  0.9666666666666666

## **Leave P out cross validation**

+ It is resampling technique with fundamental idea of splitting data set into 2 parts training and test by taking p samples into testing set and **n-p** samples to train the model
+ It is taking lot of time for execution

In [ ]:
from sklearn.model_selection import LeavePOut 
lvpout = LeavePOut(p=2)# p is the size of test sets
leave_p_out_cv = cross_val_score(classifier, iris_dataset.data,iris_dataset.target, cv = lvpout) #cv specifies which cross validation technique we are using

In [ ]:
print("Results of Leave P out cross validation: \n",leave_p_out_cv)

Results of Leave P out cross validation:
 [1. 1. 1. ... 1. 1. 1.]

In [ ]:
print("leave p out cross validation result Average value is: ",leave_p_out_cv.mean())

leave p out cross validation result Average value is:  0.9652796420581655

## **Stratified 3-fold Cross-Validation**

+ The criterion used to determine how data is divided into folds may include making sure that each fold contains the same number of observations with a specific category value, such as the class result value is called startified cv

In [ ]:
from sklearn.model_selection import StratifiedKFold 
stratified_3_fold = StratifiedKFold(n_splits = 10)  
stratified_3_fold_cv = cross_val_score(classifier, iris_dataset.data,iris_dataset.target, cv = stratified_3_fold )  #cv specifies which cross validation technique we are using

In [ ]:
print("Stratified 3-fold cross validation results: \n",stratified_3_fold_cv)

Stratified 3-fold cross validation results:
 [1.         0.93333333 1.         1.         0.93333333 0.93333333
 0.93333333 1.         1.         1.        ]

In [ ]:
print("Average value of Stratified 3-fold cross validation : ",stratified_3_fold_cv.mean())

Average value of Stratified 3-fold cross validation :  0.9733333333333334

### **Hold Out Cross-Validation**

In [ ]:
from sklearn.model_selection import train_test_split 
from sklearn.metrics import accuracy_score

In [ ]:
x_train, x_test, y_train, y_test = train_test_split(iris_dataset.data,iris_dataset.target, test_size=0.3, random_state=1)

In [ ]:
classifier.fit(x_train,y_train) 
y_predicted = classifier.predict(x_test)

In [ ]:
hold_out_cv=accuracy_score( y_test,y_predicted)
print("Accuracy score for the training dataset is: ", accuracy_score(classifier.predict(x_train), y_train))  
print("Accuracy score for the testing dataset is: ", hold_out_cv)

Accuracy score for the training dataset is:  0.9809523809523809
Accuracy score for the testing dataset is:  0.9777777777777777

In [ ]:

table = np.array(["Monte Carlo cross validation", monte_carlo_cval.mean(), "Leave P Out cross validation", leave_p_out_cv.mean(), 
                  "Stratified 3 fold cross validation", stratified_3_fold_cv.mean(), "Hold Out cross validation", hold_out_cv.mean()]).reshape(4,2)
df_results_table = pd.DataFrame(table, columns = ["Cross_validation", "Score"])
df_results_table

                     Cross_validation               Score
0        Monte Carlo cross validation  0.9666666666666666
1        Leave P Out cross validation  0.9652796420581655
2  Stratified 3 fold cross validation  0.9733333333333334
3           Hold Out cross validation  0.9777777777777777

+ The stratified 3 fold splits dataset into 3 folds and equal proportions of each class are present when it is compared with remaining techniques of cross validation